extends ../layouts/common.pug

block content
  h1 User Profile
  table.table
    thead
      tr
        th(scope='col') Name
        th(scope='col') Phone
        th(scope='col') Email
    tbody
      tr
        td= user.name
        td= user.phone
        td= user.email